<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="nl.valuga.plugin.pointmobile"
    xmlns:android="http://schemas.android.com/apk/res/android"
    version="0.1.0">

<name>PointMobile</name>

<!-- cordova -->
<engines>
    <engine name="cordova" version=">=3.5.0"/>
</engines>

<!-- dependencies -->
<dependency id="cordova-plugin-device" />

<!-- js -->
<js-module src="www/pointmobile.js" name="pointmobile">
    <clobbers target="cordova.plugins.PointMobile" />
</js-module>

<platform name="android">
    <!-- android -->
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="PointMobile">
            <param name="android-package" value="nl.valuga.plugin.pointmobile.PointMobile"/>
        </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="${applicationId}.permission.SCANNER_RESULT_RECEIVER"/>
        <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
        <permission
            android:name="${applicationId}.permission.SCANNER_RESULT_RECEIVER"
            android:protectionLevel="normal" />
    </config-file>
    <receiver
        android:name="nl.valuga.plugin.pointmobile.PointMobile$ScanResultReceiver"
        android:enabled="true"
        android:permission="${applicationId}.permission.SCANNER_RESULT_RECEIVER"
        android:priority="0" >
        <intent-filter>
            <action android:name="device.common.USERMSG" />
            <action android:name="device.scanner.EVENT" />
        </intent-filter>
    </receiver>

    <uses-library android:name="device.sdk" android:required="true" />
    <source-file src="src/android/device.sdk.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/PointMobile.java" target-dir="src/nl/valuga/plugin/PointMobile/"/>
    <source-file src="src/android/Dukpt.java" target-dir="src/nl/valuga/plugin/PointMobile/"/>
</platform>

</plugin>